<% include ../partials/header %>
    
<style>
    .mySettings {
        clear: both;
        border-bottom: 1px solid #DFDBDB;
        margin-bottom: 20px;
        margin-top: 20px;
        float: left;
    }
    .myForm {
        float: right;
    }
    .comentarios {
        clear: both;
        max-height: 400px;
        overflow: auto;
    }
</style>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Comentários</h2>
            <p class="lead">Nome da série: <%= serie.name %></p>
            <form method="post">
                <div class="form-group">
                    <label for="campoParaComentario"></label>
                    <textarea required name="comentario"placeholder="Faça seu comentário sobre <%= serie.name%>"autofocus class="form-control" id="campoParaComentario" rows="3"></textarea>
                </div>
                <button class="btn btn-outline-primary float-right" type="submit">Enviar</button>
            </form>
           <div class="comentarios">
            <% serie.comments.forEach((content, index) => { %>
                <div class="col-sm-12 col-md-12 mySettings">
                    <h5><%= content%></h5>
                    <form class="myForm" method="post" action="/series/info/<%=serie._id%>/<%=index%>">
                        <button onclick="return confirm('Deseja realmente excluir? ')"class="btn-sm btn-outline-danger" type="submit">Excluir</button>
                    </form>
                </div>
            <% }) %>
          </div>
          </div>
        </div>
      </div>
    </section>

<% include ../partials/footer %>    